@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
    --primary-color: #2eafd1;
    --secondary-color: #fefefe;
    --black: #11101b;
    
}

.contact-button {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    align-items: center;
    background-color: var(--primary-color);
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--secondary-color);
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .contact-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .contact-button:hover:after {
    transform: translate(0, 0);
  }
  
  .contact-button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .contact-button:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .contact-button {
      padding: 0 40px;
    }
  }




